{% include 'home/html/header.html'  %}

<form method="POST">
  {%csrf_token%}

<table border="0">

<tr>
<td>First Name</td><td><input type="text" name="first_name" value="{{member.first_name}}"/></td>
</tr>

<tr>
<td>Last Name</td><td><input type="text" name="last_name" value="{{member.last_name}}"/></td>
</tr>

<tr>
<td>Password</td><td><input type="text" name="password" value="{{member.password}}"/></td>
</tr>

<tr>
<td>Age</td><td><input type="text" name="age" value="{{member.age}}"/></td>
</tr>

<tr>
<td>Email</td><td><input type="text" name="email" value="{{member.email}}"/> </td>
</tr>


<tr>
<td colspan="100"><center><input type="submit" value="save"/></center></td>
</tr>

</table>
</form>

{% include 'home/html/footer.html'  %}