<form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_xclick" />
                <input type="hidden" name="business" value="floter1@gmail.com" />
                <input type="hidden" name="currency_code" value="PHP" />
                <input type="hidden" name="item_name" value="Test" />
                <input type="hidden" name="amount" value="50" />
                <input type="hidden" name="no_shipping" value="1" />
                <input type="hidden" name="cancel_return" value="http://fscratch.xtgem.com/" />
                <input type="hidden" name="return" value="http://fscratch.xtgem.com/?pp=7d13e5b23d60388b71ec7d33d75c13ba" />
                <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" />
                </form>