
{% include 'home/html/header.html'  %}

{% load static wagtailuserbar %}
<div class="thumbnail">
    <div class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/fscratch.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        
        
        <div><hr/></div>
		<div style="font-size: 45%;"><b>base.html</b></div>
    </div>
</div>
{% include 'home/html/footer.html'  %}